{% load static %}
<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="description" content="">
	<meta name="author" content="">

	<title>CRMV - Advogados</title>

	<link href="{% static 'site/assets/img/favicon.png' %}" rel="icon">
	<link href="{% static 'admin/vendor/fontawesome-free/css/all.css' %}" rel="stylesheet" type="text/css">
	<link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
	<link href="{% static 'admin/css/sb-admin-2.css' %}" rel="stylesheet">
</head>

<body>
	<div class="container">
		<br>
		<div class="row">
			<div class="col-md-6 offset-md-3">
				<div class="card shadow">
					<div class="card-header py-3">
	        			<h6 class="m-0 font-weight-bold text-primary">Acessar Área Administrativa</h6>
	    			</div>

	    			<div class="card-body">
	    				<form action="{% url 'back_login' %}" method="post">
	    					<div class="row">
	    						{% csrf_token %}
			  					<div class="form-group col-12">
			    					<input type="text" class="form-control form-control-sm" id="usuario" placeholder="Usuário" name="usuario" required>
			  					</div>
			  					<div class="form-group col-12">
			    					<input type="password" class="form-control form-control-sm" id="senha" placeholder="Senha" name="senha" required>
			  					</div>

		  						<div class="col-6">
		    						<a href="{% url 'index_index' %}" class="btn btn-danger btn-block">Cancelar</a>
		    					</div>

		    					<div class="col-6">
		    						<button class="btn btn-primary btn-block" type="submit" value="Login">Entrar</button>
		  						</div>

		  						<br><br>
		  						{% if message %}
		  						<div class="col-12" align="center">
		    						<p class="text-danger">{{message}}</p>
		  						</div>
		  						{% endif %}
	    					</div>
	    				</form>
		    		</div>
				</div>
			</div>
		</div>
	</div>
</body>

</html>